<div class="expanded processes no-margin-top margin-bottom">
  <div class="row padding">
    <div class="small-12 column">
      <h1 class="margin-bottom">
        <%= t("pages.processes.index.title") %>
      </h1>
    </div>
  </div>
</div>
